@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  background-image: url('/subtle-prism.svg');
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  transition: all 0.25s;
}

a {
  text-decoration: none;
  color: inherit;
}